<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="formGroup" (ngSubmit)="newPost()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="file" class="btn form-control-file" accept="image/*" (change)="uploadImage($event)">
          <input type="text" placeholder="Título da publicação" class="form-control" formControlName="title">
          <div *ngIf="progressService.status == progressService.LOADING" class="progress">
            <div class="progress-bar" [style.width.%]="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Postar</button>
        </div>
      </form>
    </div>
  </div>
</div>