<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@banner-animation]="stateCreate">
      <app-banner></app-banner>
    </div>

    <div *ngIf="loadRegister; else loadLogin">
      <div class="col-sm-6 d-flex justify-content-start" [@panel-animation]="stateCreate">
        <app-register (loadRegister)="navigateTo($event)"></app-register>
      </div>
    </div>
    <ng-template #loadLogin>
      <div class="col-sm-6 d-flex justify-content-start" [@panel-animation]="stateCreate">
        <app-login (loadRegister)="navigateTo($event)"></app-login>
      </div>
    </ng-template>
  </div>
</div>